# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_WHY_LEFT
    def_bool $(shields_list_contains,why_left)

config SHIELD_WHY_RIGHT
    def_bool $(shields_list_contains,why_right)
